@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SchoolScale</h1>
    <h4>Helping People Learn About Careers, Schools, and Better Education Choices </h4>
</div>

<div>
    @*<img class="greet1__img" src=".\SchoolScoreMVC\Images\SchoolScale_pic1.JPG" alt="">*@
    @*<img class="greet1__img" src="./SchoolScale_pic1.JPG" alt="">*@
</div>
