@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to SchoolScale</h1>
        <br />
        <h4>Helping People Learn About Careers, Schools, and Better Education Choices </h4>
        <br />
        <br />
        <br />
        <div class="image__center">
            <img src="~/Photos/SchoolScale_pic1.JPG" alt="Sample Image" width="900px" />
        </div>
    </div>






