@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SchoolScale</h1>
    <p>Helping People Learn About Careers, Schools, and Better Education Choices </p>
</div>
