@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SchoolScale</h1>
    <p>Helping People Learn About Careers, Schools, and Better Education Choices </p>
</div>

<div>
    @*<img class="greet1__img" src="./images/SchoolScale_pic1.JPG" alt="">*@
</div>
