@model SchoolScoreMVC.Models.LoanViewModels.LoanWorkbenchViewModel

@{
    ViewData["Title"] = "Financial Workbench";
}

<h1>Financial Workbench</h1>

<h4>Financing Details</h4>
<hr />
<table class="table table-hover">
    <tbody>

        <tr class="table-light">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="CreateLoanCalc">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <td>
                            <div class="form-group">
                                <br />
                                <label asp-for="DegreeName" class="control-label label__text1"></label>
                                <input asp-for="DegreeName" class="form-control degreeName__boxWidth degree__text" disabled />
                                <span asp-validation-for="DegreeName" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <br />
                                <label asp-for="SchoolName" class="control-label label__text1 "></label>
                                <input asp-for="SchoolName" class="form-control schoolName__boxWidth school__text" disabled />
                                <span asp-validation-for="SchoolName" class="text-danger"></span>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                <br />
                                <label asp-for="TotalSchoolCost" class="control-label label__text1"></label>
                                <input asp-for="TotalSchoolCost" class="form-control totSchoolCost__boxWidth currency__num" disabled />
                                <span asp-validation-for="TotalSchoolCost" class="text-danger"></span>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                <label asp-for="CashPaid" class="control-label label__text1"></label>
                                <input asp-for="CashPaid" class="form-control cashPaid__boxWidth" />
                                <span asp-validation-for="CashPaid" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Grants" class="control-label label__text1"></label>
                                <input asp-for="Grants" class="form-control grants__boxWidth" />
                                <span asp-validation-for="Grants" class="text-danger"></span>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Scholarships" class="control-label label__text1"></label>
                                <input asp-for="Scholarships" class="form-control scholarships__boxWidth" />
                                <span asp-validation-for="Scholarships" class="text-danger"></span>
                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <label asp-for="LoanRate" class="control-label label__text1"></label>
                                <input asp-for="LoanRate" class="form-control loanRate__boxWidth" />
                                @*@Html.DropDownListFor(m => m.LoanRate, Enumerable.Range(0, 40).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))*@
                                <span asp-validation-for="LoanRate" class="text-danger"></span>
                            </div>
                        </td>

                        <td>
                            <div class="form-group">
                                @*<br />*@
                                <label asp-for="LoanLengthYears" class="control-label label__text1"></label>
                                <input asp-for="LoanLengthYears" class="form-control loanLengthYears__boxWidth" />
                                <span asp-validation-for="LoanLengthYears" class="text-danger"></span>
                            </div>
                        </td>



                        <td>
                            <div class="form-group">
                                <input type="submit" value="Crunch Numbers" class="btn btn-primary" />
                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <input asp-for="DegreeId" class="form-control" type="hidden" />

                            </div>
                        </td>
                        <td>
                            <div class="form-group">

                                <input asp-for="SchoolId" class="form-control" type="hidden" />

                            </div>
                        </td>
                        <div class="form-group">

                            <input asp-for="DegreeSchoolId" class="form-control" type="hidden" />

                        </div>


                    </form>

                </div>

            </div>

        </tr>

    </tbody>
</table>
