@model SchoolScoreMVC.Models.Loan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>School Workbench</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>*@



            <div class="form-group">
                <label asp-for="CashPaid" class="control-label"></label>
                <input asp-for="CashPaid" class="form-control" />
                <span asp-validation-for="CashPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grants" class="control-label"></label>
                <input asp-for="Grants" class="form-control" />
                <span asp-validation-for="Grants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scholarships" class="control-label"></label>
                <input asp-for="Scholarships" class="form-control" />
                <span asp-validation-for="Scholarships" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" disabled />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>

            @*<div class="form-group">
            <label asp-for="LoanLengthMonths" class="control-label"></label>
            <input asp-for="LoanLengthMonths" class="form-control" />
            <span asp-validation-for="LoanLengthMonths" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="LoanLengthYears" class="control-label"></label>
                <input asp-for="LoanLengthYears" class="form-control" />
                @*<select id="loan_yrs">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">7</option>
                    <option value="8">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>*@
                <span asp-validation-for="LoanLengthYears" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LoanRate" class="control-label"></label>
                <input asp-for="LoanRate" class="form-control" />
                @*<select id="loan_rate">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">7</option>
                    <option value="8">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                </select>*@
                <span asp-validation-for="LoanRate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="LoanPayment" class="control-label"></label>
                <input asp-for="LoanPayment" class="form-control" disabled />
                <span asp-validation-for="LoanPayment" class="text-danger"></span>
            </div>
           
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FinWorkBenchStep" /> @Html.DisplayNameFor(model => model.FinWorkBenchStep)
                </label>
            </div>
          
            <div class="form-group">
                <label asp-for="DegreeSchoolId" class="control-label"></label>
                <input asp-for="DegreeSchoolId" class="form-control" disabled />
                <span asp-validation-for="DegreeSchoolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

