@*@model SchoolScoreMVC.Models.Loan*@
@model SchoolScoreMVC.Models.LoanViewModels.LoanWorkbenchViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Benefit Cost Analysis</h1>

@*<h4>Loan</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@


            @*<div class="form-group">
                <label asp-for="TotalSchoolCost" class="control-label"></label>
                <input asp-for="TotalSchoolCost" class="form-control" disabled/>
                <span asp-validation-for="TotalSchoolCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" disabled/>
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanRate" class="control-label"></label>
                <input asp-for="LoanRate" class="form-control" />
                <span asp-validation-for="LoanRate" class="text-danger"></span>
            </div>
         
            <div class="form-group">
                <label asp-for="LoanLengthYears" class="control-label"></label>
                <input asp-for="LoanLengthYears" class="form-control" />
                <span asp-validation-for="LoanLengthYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanPayment" class="control-label"></label>
                <input asp-for="LoanPayment" class="form-control" disabled/>
                <span asp-validation-for="LoanPayment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalLoanPayments" class="control-label"></label>
                <input asp-for="TotalLoanPayments" class="form-control" disabled/>
                <span asp-validation-for="TotalLoanPayments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CashPaid" class="control-label"></label>
                <input asp-for="CashPaid" class="form-control" />
                <span asp-validation-for="CashPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grants" class="control-label"></label>
                <input asp-for="Grants" class="form-control" />
                <span asp-validation-for="Grants" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scholarships" class="control-label"></label>
                <input asp-for="Scholarships" class="form-control" />
                <span asp-validation-for="Scholarships" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountPaid" class="control-label"></label>
                <input asp-for="TotalAmountPaid" class="form-control" disabled/>
                <span asp-validation-for="TotalAmountPaid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FutureCareerEarnings" class="control-label"></label>
                <input asp-for="FutureCareerEarnings" class="form-control" disabled />
                <span asp-validation-for="FutureCareerEarnings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BenefitCostAnalysisRatio" class="control-label"></label>
                <input asp-for="BenefitCostAnalysisRatio" class="form-control" disabled />
                <span asp-validation-for="BenefitCostAnalysisRatio" class="text-danger"></span>
            </div>*@




            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="FinWorkBenchStep" /> @Html.DisplayNameFor(model => model.FinWorkBenchStep)
                </label>
            </div>*@
            @*<div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <input asp-for="ApplicationUserId" class="form-control" />
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="DegreeSchoolId" class="control-label"></label>
                <input asp-for="DegreeSchoolId" class="form-control" />
                <span asp-validation-for="DegreeSchoolId" class="text-danger"></span>
            </div>*@



            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BCAIndex">Back to List</a>
</div>

