/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}




.body {

    color:aqua;

}

a.model_textLink {
    color: royalblue;
}


.table_scroll {
    scroll-behavior: smooth;
}

.schoolName__boxWidth {
    min-width: 250px;
    background-color: yellow;
    /*  word-wrap: normal;*/
  /*  word-wrap: break-word;*/
    word-wrap: break-all;
}

.degreeName__boxWidth {
    min-width: 200px;
    background-color: yellow;
    word-wrap:normal;
}



.scholarships__boxWidth, .grants__boxWidth,
.cashPaid__boxWidth {
    min-width: 100px;
    background-color: yellow;
}

.totSchoolCost__boxWidth{
min-width: 100px;

}

.loanRate__boxWidth {
    min-width: 50px;
    background-color: yellow;
}

.loanLengthYears__boxWidth {
    min-width: 75px;
    background-color: yellow;
}



.benCostAnalysis_num1 {
    color: brown;
    font-size: 2rem;
    line-height: inherit;
    font-family:   Impact;
    background-color: red;
}

    .benCostAnalysis_num1:hover {
        /*background-color: greenyellow;*/
    }
/*benCostAnalysis_num2*/

.degree__text, .general__text {
    color: blue;
    font-size: 1rem;
    font-family: Arial;
}

.currency__num {
    color: brown;
    font-size: 1rem;
    font-family: arial;
}


.estCareerEarn__num
{
color: green;
font-size: 1rem;
font-family: arial;
}
.school__text {
    color: black;
    font-size: 1rem;
    font-family: Arial;
}

.label__text1 {
    color: black;
    font-size: 1rem;
    font-family: Arial;
}

.create__degree, .create__school {
    font-size: 1rem;
    font-family: Arial;
}


.moPayment__num, .totLoanPayment__num, 
.totAmountPaid__num {
    color: red;
    font-size: 1rem;
    font-family: Arial;
}

.note__text {
    color: darkslateblue;
    font-size: 1rem;
    font-family: Arial;
    /*background-color: darkviolet;*/
}

.image__center {

   justify-content: center;
}